
*/obj
*/bin
*.suo
/packages/NUnit.2.5.10.11092/tools
/packages/NUnit.2.5.10.11092/NUnitFitTests.html
.vs/Revise/v16/Server/sqlite3/db.lock

.vs/Revise/v16/Server/sqlite3/storage.ide

.vs/Revise/v16/Server/sqlite3/storage.ide-shm

.vs/Revise/v16/Server/sqlite3/storage.ide-wal
